// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

body
	font: normal 16px/1.4 'Roboto', Helvetica, Arial, sans-serif
a
	transition: color 0.3s
	color: #435993
	font: 300 16px 'Roboto', Helvetica, Arial, sans-serif
	text-decoration: none
	&:hover
		color: #1c1c1c
		
//titles
.title-primary
	text-align: center
	font: 100 70px 'Roboto', Helvetica, Arial, sans-serif
	padding: 0 20px
	margin-top: 110px
	color: #1c1c1c
	+r(767)
		font-size: 38px
		margin-top: 60px
.form-title
	color: #1c1c1c
	font: 300 30px 'Roboto', Helvetica, Arial, sans-serif
	padding-top: 70px
	position: relative
	+r(767)
		font-size: 24px
		padding-top: 58px
	i
		position: absolute
		left: 0
		right: 0
		top: 0
		margin: auto
.form-subtitle
	color: #1c1c1c
	font-weight: 300
	letter-spacing: 0.02em
	margin-top: 12px
//buttons
.btn
	padding: 15px 32px
	border-radius: 9px
	background-color: #435993
	font-size: 16px
	font-family: inherit
	font-weight: 300
	display: table
	margin: 70px auto 0
	color: #fff
	transition: background 0.3s
	position: relative
	+r(767)
		margin-top: 30px auto 0
	&:hover
		background-color: lighten(#435993, 5%)
	&:active
		top: 1px
.btn-menu
	+hide-text
	width: 28px
	height: 20px
	z-index: 1
	overflow: hidden
	background-color: transparent
	display: none
	position: absolute
	right: 10px
	top: 10px
	+r(767)
		display: block
	span
		position: absolute
		left: 0
		right: 0
		top: 50%
		margin-top: -1px
		height: 3px
		background-color: #1c1c1c
		display: block
		&:after,
		&:before
			content: ''
			display: block
			position: absolute
			height: 3px
			background-color: #1c1c1c
			left: 0
			right: 0
		&:after
			top: 8px
		&:before
			top: -8px
			
//form elements
.input
	display: block
	width: 100%
	border-radius: 4px
	border: 1px solid #e5e5e5
	background-color: rgba(217, 217, 217, 0)
	text-align: center
	color: #c8c8c8
	padding: 15px
	font: normal 24px/1.2 'Roboto', Helvetica, Arial, sans-serif
	+placeholder
		color: #c8c8c8
	+r(767)
		font-size: 16px
		padding: 10px
label
	font-size: 16px
	font-weight: 300
	color: #000
	padding-left: 32px
	position: relative
	cursor: pointer
	span
		display: block
		position: absolute
		top: -1px
		left: 0
		margin: auto
		+s(checkbox)
.checkbox
	display: none
	&:checked + span
		+s(checkbox-active)
.form-area
	resize: none
	height: 180px
	display: block
	margin-top: 40px
	width: 100%
	border-radius: 4px
	border: 1px solid #e5e5e5
	background-color: rgba(217, 217, 217, 0)
	padding: 20px
	color: #c8c8c8
	font: normal 20px/1.2 'Roboto', Helvetica, Arial, sans-serif
	+placeholder
		color: #c8c8c8
	+r(767)
		font-size: 14px
		padding: 15px
//icons
.icon-personal
	+s(personal)
.icon-info
	+s(info)
.icon-experience
	+s(experience)
.icon-js
	+s(js)

.select-default
	display: none
.select
	position: relative
	font-size: 30px
	max-width: 320px
	margin: auto
	border-radius: 4px
	border: 1px solid #e5e5e5
	background-color: rgba(217, 217, 217, 0)
	+r(767)
		font-size: 18px
	&.is-open 
		.select__list
			display: block
		.select__text
			&:after
				+rotate(0)
.select__text
	background-color: transparent
	padding: 9px 0
	display: block
	position: relative
	cursor: pointer
	color: #c8c8c8
	font-family: inherit
	font-size: 24px
	+r(767)
		padding: 3px 0
	&:after
		content: ''
		display: block
		position: absolute
		right: 20px
		top: 0
		bottom: 0
		margin: auto
		+rotate(180)
		+s(arrow)
		z-index: 1
		user-select: none
.select__list
	display: none
	list-style: none
	position: absolute
	left: 0
	right: 0
	top: 100%
	margin-top: 4px
	overflow-x: hidden
	overflow-y: auto
	z-index: 10
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2)
	border-radius: 4px
	background-color: #ffffff
.select li
	padding: 4px 20px
	cursor: pointer
	transition: background-color 0.3s
	font-family: inherit
	font-size: 20px
	color: #435993
	font-weight: 300
	&:hover
		background-color: darken(#fff, 5%)
	+r(767)
		font-size: 18px

