// Normally mainpage styles
.header
	position: relative
	+r(767)
		padding-top: 40px
	&__in
		max-width: 540px
		margin: auto
		padding: 0 20px
		+r(767)
			max-width: none
			padding: 0
			border-top: 1px solid #d9d9d9
	&:after
		content: ' '
		display: block
		position: absolute
		left: 0
		right: 0
		bottom: 0
		border-bottom: 1px solid #d9d9d9
		+r(767)
			display: none
.nav
	font-size: 0
	+r(767)
		display: none
	&__item
		display: inline-block
		vertical-align: middle
		text-align: left
		+r(767)
			display: block
			text-align: center
		&:not(:last-of-type)
			margin-right: 70px
			+r(767)
				margin-right: 0
	&__link
		font-size: 14px
		padding: 20px 0
		display: block
		+r(767)
			padding: 15px 0
			border-bottom: 1px solid #d9d9d9
			transition: background-color 0.3s
			&:active
				background-color: #f1f1f1
.form
	text-align: center
	padding: 65px 20px 74px
	+r(767)
		padding: 65px 10px
.form-list
	&__item
		&:not(:first-of-type)
			margin-top: 73px
			+r(767)
				margin-top: 40px
.fields
	max-width: 520px
	margin: 40px auto 0
	&__row
		&:not(:first-of-type)
			padding-top: 25px
			+r(767)
				padding-top: 20px
.skills-list
	column-count: 3
	text-align: left
	max-width: 770px
	margin: 34px auto 0
	+r(767)
		column-count: 2
	+r(500)
		column-count: 1
	&__item
		display: block
		padding-top: 16px
.description
	max-width: 520px
	margin: 60px auto 0
