$icons: (0:0)
$icons: map-merge($icons,(arrow: (X: -102px, Y:-48px, W: 14px, H: 9px, TW: 122px, TH: 98px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(checkbox-active: (X: -102px, Y:0px, W: 20px, H: 20px, TW: 122px, TH: 98px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(checkbox: (X: -102px, Y:-24px, W: 20px, H: 20px, TW: 122px, TH: 98px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(experience: (X: 0px, Y:0px, W: 47px, H: 47px, TW: 122px, TH: 98px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(info: (X: -51px, Y:0px, W: 47px, H: 47px, TW: 122px, TH: 98px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(js: (X: 0px, Y:-51px, W: 47px, H: 47px, TW: 122px, TH: 98px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(personal: (X: -51px, Y:-51px, W: 47px, H: 47px, TW: 122px, TH: 98px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)
@mixin sp($i)
	+sprite-position($i)
@mixin sr($i)
	+sprite-retina($i)	

//
//.icon-arrow
//	width: 14px
//	height: 9px
//	background-image: url('../img/icons.png')
//	background-position: -102px -48px
//
//.icon-checkbox-active
//	width: 20px
//	height: 20px
//	background-image: url('../img/icons.png')
//	background-position: -102px 0px
//
//.icon-checkbox
//	width: 20px
//	height: 20px
//	background-image: url('../img/icons.png')
//	background-position: -102px -24px
//
//.icon-experience
//	width: 47px
//	height: 47px
//	background-image: url('../img/icons.png')
//	background-position: 0px 0px
//
//.icon-info
//	width: 47px
//	height: 47px
//	background-image: url('../img/icons.png')
//	background-position: -51px 0px
//
//.icon-js
//	width: 47px
//	height: 47px
//	background-image: url('../img/icons.png')
//	background-position: 0px -51px
//
//.icon-personal
//	width: 47px
//	height: 47px
//	background-image: url('../img/icons.png')
//	background-position: -51px -51px
//